.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: lightblue;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

.modal-title {
    margin-left: auto;
 
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 67%;
}

.carousel-control-next-icon {
    background-color: black  !important;
}

.carousel-control-prev-icon {
    background-color: black  !important;
}
p.navbar-brand{
    word-spacing: 16cm ;
}
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }